/* 修改左侧选中颜色 */
.recent-contact-item--selected { --global-brand_standard: #6172be !important; }

/* 修改边栏图标颜色 */
.tab-item-img-mask { --brand_standard: #6172be !important; }

/*修改自己气泡字体颜色*/
*{
--bubble_host_text:white !important;
--brand_standard:#6172be !important;
}

/* 圆角 */
.viewport-list__inner,
.q-collapse,
.q-collapse-item__content__inner,
.q-collapse-item
{
display: flex;
flex-direction: column; 
gap: 8px; 
padding: 8px;
}
.recent-contact-item,
.q-collapse,
.q-collapse-item__content__inner,
.q-collapse-item
{ 
border-radius: 8px; 
}

/* 设置透明背景 */
.sidebar .sidebar-nav,
.tab-container,
.chat-header,
.group-box,
.recent-contact,
.contact,
.recent-contact-default-theme-list.q-scroll-view .viewport-list__inner,
.guild-list-wrapper-win,
.session-container,
.chat-session-main,
.tab .tab-header,
.sys-notify,
.q-collapse-item > .q-collapse-item__header,
.profile,
.buddy-profile,
.q-popover,
.setting-main,
.favorites-layout,
.favorites-layout__left-area,
.favorites-layout__right-area,
.favorites-layout__content,
.file-manager-main,
.sender-container,
.file-type-container,
.group-file-container,
.side-panel,
.more-menu,
.q-context-menu,
.group-photo,
.group-home-work,
.searchPage,
.search-container,
.search-result,
.q-tooltips__content,
.list,
.draggable-view__container,
.aio-independent,
.container,
.sticker-panel,
.sticker-bar,
.notice,
.notice__container,
.notice-view,
.notice-item,
.record,
.record-msg-date,
.all-panel,
.search-result.bg-color-counts-1,
.msg-content-container.container--others.mix-message__container,
.msg-content-container.container--others.reply-message__container,
.forward-msg
{
background: none !important;
}
/* 修改开关颜色 */
.q-switch.is-active { --brand_standard: #6172be !important; }
.q-switch.is-active:hover { --nt_brand_standard_2_overlay_hover_brand_2_mix: #6172be !important; }

/* 背景变暗&模糊 */
.setting-main
{
backdrop-filter: brightness(0.8) blur(1px) !important;
}

.buddy-profile,
.q-popover,
.sidebar .sidebar-nav,
.setting-tab,
.more-menu,
.q-context-menu,
.q-tooltips__content,
.notice-item,
.record-msg-date
{
backdrop-filter: brightness(0.7) blur(10px) !important;
}

.side-panel,
.search-result,
.sticker-panel,
.sticker-bar
{
backdrop-filter: brightness(0.6) blur(10px) !important;
}

.msg-content-container.container--others.mix-message__container,
.msg-content-container.container--others.reply-message__container,
.forward-msg
{
backdrop-filter: brightness(0.4) blur(16px) !important;
}

/* 修改右侧管理员群主头衔颜色 */
.q-tag.primary { background-color: rgba(102, 102, 102, 0.2) !important; color: #CD5B45 !important;
}
.q-tag { background-color: rgba(102, 102, 102, 0.2) !important; color: #6172be !important;
}

/* 改昵称颜色 */
.message .text-ellipsis,
.group-user__name.text-ellipsis
{
color:white !important;
}

/* 移除 腾讯文档按钮 */
.tab-item.nav-item{
    display: none !important;
}

/* 群聊@信息高亮 */
.text-element--at { color: var(--text-brand); }
.container--self .text-element--at { color: var(--text-brand); }

/* 自己发的链接颜色改为蓝色 */
.container--self .text-link { color: var(--text-brand) !important; }
